*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.holder {
  background-color: rgb(124 123 128 / 51%);
  border: 2px solid grey;
  width: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.3rem;
  padding: 1.3rem 0rem 1.3rem 0rem;
}